<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consumir API REST</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="Container mt-4">
    <a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
    <table class="table">
        <thead>
        <tr>
            <td>UserId</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Correo</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userrest:${userrest}">
            <td th:text="${userrest.userId}"></td>
            <td th:text="${userrest.firstName}"></td>
            <td th:text="${userrest.lastName}"></td>
            <td th:text="${userrest.email}"></td>
            <td>
                <a th:href="@{/editar/}+${userrest.userId}" class="btn btn-warning">Editar</a>
                <a th:onclick="eliminar([[${userrest.userId}]])" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="funciones.js"></script>
</body>
</html>
